/**
 * Seemly Css 
 * seemlycss.com
 * Licensed under MIT Open Source
 */

// Ieks
// ----

// Fall-back for IE browsers 
// -------------------------

@media screen and (min-width:0\0) {

	body {
		display: block;
	}

	.row { 
		display: block;
		flex-direction: unset;		
		
		.column {
			flex-basis: unset;
		}

		flex-wrap: unset;
		justify-content: unset;		
		
		&.justify-center {
			justify-content: unset;
			text-align: center;			
			.column{
				margin: auto;
				float: none;
			}
		}
		
		.column {
			flex-basis: unset;
			float: left;		
			.content {
				display: block;
				height: auto;
			}
		}

		&:after { 
			width: 100%;			
			content: '';
			display: block;
			clear: both;
		}
	}

	@media (min-width: 640px){
		.content {
			display: block;
			height: auto;
		}
	}

}