// Global / Base
// ----

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

// Element Alignment
// -----------------
.center-xy {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

// Aspect Ratio
// ------------
.ratio {
	position: relative;
}

.ratio-4-3 {  padding-top: 75%; }
.ratio-3-2 {  padding-top: 66.66%; }
.ratio-16-9 { padding-top: 56.25%; }

// Position
// --------
.relative {
	position: relative;
}

// Visibility
// ----------
.hide {
	display: none;
}
