// Seemly Core/Settings/Settings
// Core settings
// -----------------------------

// Content 
// 1. Font-Family
// 2. Colours
// 3. Breakpoints
// 4. Layout
// 5. Type scales 
// 6. Misc


// 1. Font-Family
// --------------
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

// 2. Colours
// ----------
$color-light-gray:  #e8e8e8;
$color-medium-gray: #929292;
$color-dark-gray:   #4c4c4c;
$color-black:       #434448;
$color-white:       #ffffff;
$color-primary:     #006080; 
$color-secondary:   #DB0A5B;
$color-success:     #00ff80;
$color-warning:     #ff0000;
$color-alert:       #ff8000;

// Additional colors 
// https://www.htmlcsscolor.com/ is a useful resource to define names 
$color-eggblue: #1ccacd;

// 3. Breakpoints 
// --------------

// Use the 'respond-to' mixin to define media queries, 
// Example use: @include respond-to(medium) { your-style }
$breakpoints-to: (
	'small'  :  ( max-width:  639px ),
	'medium' :  ( max-width:  1023px ),
	'large'  :  ( max-width:  1199px )
);

// Use the 'respond-from' mixin to define media queries, 
// Example use: @include respond-from(medium) { your-style }
$breakpoints-from: (
	'small'  :  ( min-width:  0 ),
	'medium' :  ( min-width:  640px ),
	'large'  :  ( min-width:  1024px ),
	'xlarge' :  ( min-width:  1200px ),
	'xxlarge' : ( min-width:  1440px )
);

// 4. Layout
// ---------
$max-width:             rem-calc(1200);

$padding-row-small:     0 rem-calc(8);
$padding-row-medium:    0 rem-calc(10);
$padding-row-large:     0 rem-calc(10);

$padding-column-small:  rem-calc(8);
$padding-column-medium: rem-calc(10);

$spacing-small:         rem-calc(8);
$spacing-medium:        rem-calc(10);

// 5. Type scales 
// --------------
// Use the 'type-scale' mixin to include
// Example use: @include type-scale(your-size); 
$type-scales: (
	tiny: (
		font-size:      rem-calc(10),
		line-height:    rem-calc(16),
		padding-bottom: rem-calc(8)
	),
	xsmall: (
		font-size:      rem-calc(12),
		line-height:    rem-calc(18),
		padding-bottom: rem-calc(10)
	),
	small: (
		font-size:      rem-calc(16),
		line-height:    rem-calc(22),
		padding-bottom: rem-calc(11)
	),
	medium: (
		font-size:      rem-calc(20),
		line-height:    rem-calc(22),
		padding-bottom: rem-calc(12)
	),
	large: (
		font-size:      rem-calc(26),
		line-height:    rem-calc(36),
		padding-bottom: rem-calc(15)
	),
	xlarge: (
		font-size:      rem-calc(30),
		line-height:    rem-calc(40),
		padding-bottom: rem-calc(16)
	),
	xxlarge: (
		font-size:      rem-calc(40),
		line-height:    rem-calc(50),
		padding-bottom: rem-calc(20)
	)
);

// 6. Misc
// -------
// Header height for setting fixed position header 
$header-height:         rem-calc(64);
$header-height-medium:  rem-calc(72);
