// Utils / Utils
// -------------

// Extend type scale from $type-scales
// -----------------------------------
// Example usage: @include type-scale(small);	
@mixin type-scale($scale, $map: $type-scales) {	
	$font:          map-deep-get($map,  $scale);	
	font-size:      map-deep-get($font, 'font-size');
	line-height:    map-deep-get($font, 'line-height');
	padding-bottom: map-deep-get($font, 'padding-bottom');
}

// Return value from map key
// -------------------------
@function map-deep-get($map, $keys...) {
	@each $key in $keys {		
		$map: map-get($map, $key);
	}
	@return $map;
}

// Respond to breakpoint
//----------------------
// Exampe usage: @include respond-from(medium) 
@mixin respond-from($name) { 
	@if map-has-key($breakpoints-from, $name) { 
		@media #{inspect(map-get($breakpoints-from, $name))} { 
			@content;
		}
	}
	@else {
		@warn "No value could be retrieved from `#{$breakpoint-from}`. "
		+ "Breakpoints defined in `global > settings > $breakpoints-from` map.";
	}    
}

// Exampe usage: @include respond-to(medium) 
@mixin respond-to($name) { 
	@if map-has-key($breakpoints-to, $name) { 
		@media #{inspect(map-get($breakpoints-to, $name))} { 
			@content;
		}
	}
	@else {
		@warn "No value could be retrieved from `#{$breakpoint-to}`. "
		+ "Breakpoints defined in `global > settings > $breakpoints-to` map.";
	}    
}

// Convert pixels to REMs
// --------------------------
// Example usage: rem-calc(16)  
@function rem-calc($sizeValue) {
    @return ($sizeValue * 0.0625) * 1rem;
}

// CSS Arrow
// ---------
@mixin arrow($rotate, $width, $height, $border-size, $border-color) {
	width: $width;
	height: $height;	
	border-right: $border-size solid $border-color;
	border-bottom: $border-size solid $border-color;	
	transform: rotate($rotate);
	-ms-transform: rotate($rotate);			
}
