// Typography / Typography
// -----------------------

html {
	font-size: 100%;
}

body {
	font-family: $font-family;
	color: $color-black;
}

// Heading sizes
// -------------
h1 {@include type-scale(xlarge); 
	margin: $spacing-large 0;}
h2 {@include type-scale(large);}
h3 {@include type-scale(medium);}
h4 {@include type-scale(small);}
h5 {@include type-scale(xsmall);}
h6 {@include type-scale(tiny);}

.h1 {@include type-scale(xlarge);
	margin: $spacing-large 0;}
.h2 {@include type-scale(large);}
.h3 {@include type-scale(medium);}
.h4 {@include type-scale(small);}
.h5 {@include type-scale(xsmall);}
.h6 {@include type-scale(tiny);}

@include respond-from(medium) {
	h1 {@include type-scale(xxlarge);}
	h2 {@include type-scale(xlarge);}
	h3 {@include type-scale(large);}
	h4 {@include type-scale(medium);}
	h5 {@include type-scale(small);}
	h6 {@include type-scale(xsmall);}

	.h1 {@include type-scale(xxlarge);}
	.h2 {@include type-scale(xlarge);}
	.h3 {@include type-scale(large);}
	.h4 {@include type-scale(medium);}
	.h5 {@include type-scale(small);}
	.h6 {@include type-scale(xsmall);}
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
}

// Paragragh
// ---------
p {
	@include type-scale(small);
}

// Text Treatment
// --------------
.text {
	&-center {
		text-align: center;
	}	
	&-right {
		text-align: right;
	}	
	&-left {
		text-align: right;
	}
	&-underline {
		text-decoration: underline;
	}
}

.margin {
	&-auto {
		margin: 0 auto;
	}
}

.nowrap {
	white-space: nowrap;
}

.strong {
	font-weight: 700;
}
