// Element / BG
// ------------

// BG
// --
// Background
// ----------
.bg {
	&-light-gray  { background-color: $color-light-gray; }
	&-medium-gray { background-color: $color-medium-gray; }
	&-dark-gray   { background-color: $color-dark-gray; }
	&-black       { background-color: $color-black; }
	&-white       { background-color: $color-white; } 
	&-primary     { background-color: $color-primary; }
	&-secondary   { background-color: $color-secondary; }
	&-success     { background-color: $color-success; }
	&-warning     { background-color: $color-warning; }
	&-alert       { background-color: $color-alert; }
}

.bgi {
	background-repeat: no-repeat;
	background-size: cover;
}
