// Element / Button
// ----------------

// Button
// ------
button, 
.button {
	appearance: none;   
	display: inline-block;
	padding: rem-calc(12) rem-calc(32);	
	border: 1px solid $color-primary;
    background: $color-primary;    
    color: $color-white;
	cursor: pointer;    
	font-family: $font-family;
	font-size: rem-calc(18);
	white-space: nowrap;    
	text-align: center;	
	text-decoration: none;
	border-radius: rem-calc(36);
	opacity: 1; 
	transition: opacity .4s ease-in;
	
	&.secondary {
		border: 1px solid $color-secondary;
		background: $color-white;
		color: $color-secondary;
	}

	&:hover {
		opacity: .85;
	}
}
