// Element / Color
// ---------------

// Color
// -----
.color {
	&-light-gray  { color: $color-light-gray; }
	&-medium-gray { color: $color-medium-gray; }
	&-dark-gray   { color: $color-dark-gray; }
	&-black       { color: $color-black; }
	&-white       { color: $color-white; } 
	&-primary     { color: $color-primary; }
	&-secondary   { color: $color-secondary; }
	&-success     { color: $color-success; }
	&-warning     { color: $color-warning; }
	&-alert       { color: $color-alert; }
}
