// Element / Form
// --------------

$border-radius: 2px; 
$vertical-padding: rem-calc(6);

// Form
// ----
form {
	width: 100%;	
	padding-bottom: ($spacing-small * 2);
	@include respond-from(medium) {
		padding-bottom: ($spacing-medium * 2);
	}
}

// Legend
// ------
legend {
	margin-bottom: $spacing-medium;
	font-weight: 700;
}

// Focus 
// -----
button:focus, 
input:focus, 
textarea:focus,
select:focus,
a:focus { outline: 0; }

// Field 
// -----

.field {
	padding-bottom: rem-calc(20);
}

// Input, textarea, select
// -----------------------
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
	width: 100%;
	height: rem-calc(40);
	padding: $vertical-padding rem-calc(12);
	background: $color-white;
	border: 1px solid $color-light-gray;
	border-radius: $border-radius;	
	font-size: rem-calc(16);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		border: 1px solid $color-medium-gray;
	}
}

textarea {
  min-height: rem-calc(112);
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding; 
}

label,
legend {
	display: block;
	margin-bottom: rem-calc(6);
	font-size: rem-calc(16);
}
fieldset {
	padding: 0;
	border-width: 0; 
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block; 
	margin-left: rem-calc(6);
}
