// Element / Lists
// ---------------

// Unordered / ordered list
// ------------------------
ul, ol {
	padding-left: $spacing-small;
	padding-right: $spacing-small;
	margin-left: $spacing-small;
	
	@include respond-from(medium) {
		padding-left: $spacing-medium;
		padding-right: $spacing-medium;
		margin-left: ($spacing-medium *2);
	}

	li {
		@include type-scale(small);	
	}
}
