// Layout / Column
// ---------------

// Original column widths For Small
$scol1: 8.33333%;
$scol2: 14.16666666666667%;
$scol3: 22.75%;
$scol4: 31.33333333333333%;
$scol5: 39.91666666666667%;
$scol6: 50%;
$scol7: 57.08333333333333%;
$scol8: 65.66666666666666%;
$scol9: 74.25%;
$scol10: 82.83333333333333%;
$scol11: 91.41666666666666%;
$scol12: 100%;

// Column widths
$col1:  8.33333%;
$col2:  16.66667%;
$col3:  25%;
$col4:  33.33333%;
$col5:  41.66667%;
$col6:  50%;
$col7:  58.33333%;
$col8:  66.66667%;
$col9:  75%;
$col10: 83.33333%;
$col11: 91.66667%;
$col12: 100%;

// Column
// ------
.column {
	position: relative;	
	width: 100%;
	
	// Justify center
	&.justify-center,
	.justify-center {
		justify-content: center;
	}
	
	// Align item 
	&.align-item-start {
		align-items: flex-start;
	}
	
	&.align-item-center {
		align-items: center;
	}
	
	&.align-item-baseline {
		align-items: baseline;
	}

	// Padding
	padding: $padding-column-small;
		
	@include respond-from(medium) {
		padding: $padding-column-medium;
	}
	
	&.small-1 { width: $col1; }
	&.small-2 { width: $col2; }
	&.small-3 { width: $col3; }
	&.small-4 { width: $col4; }
	&.small-5 { width: $col5; }
	&.small-6 { width: $col6 }
	&.small-7 { width: $col7 }
	&.small-8 { width: $col8 }
	&.small-9 { width: $col9 }
	&.small-10 { width: $col10; }
	&.small-11 { width: $col11 }
	&.small-12 { width: $col12; }
	
	@include respond-from(medium) {
		&.medium-1 { width: $col1; }
		&.medium-2 { width: $col2; }
		&.medium-3 { width: $col3; }
		&.medium-4 { width: $col4; }
		&.medium-5 { width: $col5; }
		&.medium-6 { width: $col6; }
		&.medium-7 { width: $col7; }
		&.medium-8 { width: $col8; }
		&.medium-9 { width: $col9; }
		&.medium-10 { width: $col10; }
		&.medium-11 { width: $col11; }
		&.medium-12 { width: $col12; }
	}

	@include respond-from(large) {
		&.large-1 { width: $col1; }
		&.large-2 { width: $col2; }
		&.large-3 { width: $col3; }
		&.large-4 { width: $col4; }
		&.large-5 { width: $col5; }
		&.large-6 { width: $col6; }
		&.large-7 { width: $col7; }
		&.large-8 { width: $col8; }
		&.large-9 { width: $col9; }
		&.large-10 { width: $col10; }
		&.large-11 { width: $col11; }
		&.large-12 { width: $col12; }
	}
}

.flex-column {
	.column {
		margin-bottom: ($spacing-small * 2);
	}
}
