// Layout / Flex
// -------------

// Flex Sticky Footer
// ------------------
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
#wrapper {
	flex: 1 0 auto;
}
#footer {
	flex-shrink: 0;
}

// Row (Flex)
// ----------
.row {
	
	display: flex;
	flex-direction: column;
	
	&.flex-direction-row {
		flex-direction: row;
	}
	
	@include respond-from(medium) {
		flex-direction: row;
	}	
	&.flex-column {
		flex-direction: column;
	}
	&.flex-basis {
		.column {
			flex-basis: 100%;
		}
	}
	&.flex-wrap {
		flex-wrap: wrap;
		justify-content: space-between;	
	}
	
	// Justify Content
	// ---------------
	&.justify-start {
		justify-content: flex-start;
	}
	&.justify-end {
		justify-content: flex-end;
	}
	&.justify-center {
		justify-content: center;
	}
	&.small {
		&-flex-column-reverse {
			flex-direction: column-reverse;
			@include respond-from(medium) {
				flex-direction: row;	
			}
		}
	}
}
