// Layout / Row
// ------------

// Row
// ---
.row {	
	position: relative;	
	width: 100%;		
	max-width: $max-width;
	margin: 0 auto;	
	padding: $padding-row-small;

	@include respond-from(medium) {			
		padding: $padding-row-medium;
	}

	@include respond-from(large) {
		padding: $padding-row-large;
	}
	
	@include respond-to(small) {
		.row {
			padding: 0;
		}
	}
}
