// Layout / Spacing
// ----------------

// Collapse
// --------
.collapse {		
	
	padding: 0;	

	&-y {
		padding-top: 0;
		padding-bottom: 0;           
	}

	&-x {
		padding-left: 0;
		padding-right: 0;     
	}

	&-top {
		padding-top: 0;	
	}

	&-bottom {
		padding-bottom: 0;	
	}

	// Medium up collapse padding
	// ------------------------
	@include respond-from(medium) {	

		&-medium {
			padding: 0;			
			&-y {
				padding-top: 0;
				padding-bottom: 0;           
			}
			&-x {
				padding-left: 0;
				padding-right: 0;     
			}
			&-top {
				padding-top: 0;	
			}
			&-bottom {
				padding-bottom: 0;	
			}
		}	
	}
}

// Expand padding
// --------------
.expand {
	
	padding: $spacing-small;
	
	@include respond-from(medium) {
		padding: $spacing-medium;
	}
	
	&-top {
		padding-top: ($spacing-small * 2);
		@include respond-from(medium) {
			padding-top: ($spacing-medium * 2);
		}
	}
	
	&-start {
		margin-top: $spacing-medium;
	}
	
	&-end {
		margin-bottom: $spacing-medium;
	}

	&-x {
		padding-left: ($spacing-small);
		padding-right: ($spacing-small);
		@include respond-from(medium) {
			padding-left: ($spacing-medium);
			padding-right: ($spacing-medium);
		} 
	}

	@include respond-from(medium) {
		&-medium {
					
			padding: $spacing-medium;
			
			&-top {
				padding-top: ($spacing-small * 2);
				@include respond-from(medium) {
					padding-top: ($spacing-medium * 2);
				}
			}
			
			&-start {
				margin-top: $spacing-medium;
			}
			
			&-end {
				margin-bottom: $spacing-medium;
			}

			&-x {
				padding-left: ($spacing-small);
				padding-right: ($spacing-small);
				@include respond-from(medium) {
					padding-left: ($spacing-medium);
					padding-right: ($spacing-medium);
				} 
			}			
		}
	}
}
