
.component-cards { 
		
	.row {
		flex-wrap: wrap;        
	}
	
	.eq-img {
		position: relative;			
		/* Requires .ratio-4-3, .ratio-3-2 or .ratio-16-9 */
		overflow: hidden;
		img {
			position: absolute;
			bottom: 0;
			min-height: 100% !important;
		}
	}
}
