// Component / Content
// -------------------

// Content
// -------
.content {
	position: relative;
	@include respond-from(medium) { 
		display: flex;
		align-items: stretch;
		flex-direction: column;
		flex-grow: 1;
		height: 100%;
	}
	.details {
		padding: ($spacing-small * 2);
		@include respond-from(medium) { 
			padding: ($spacing-medium * 2);
		}
	}
}
