// Component / Header Nav
// ----------------------

header#header {	
	
	background: $header-background;

	div.logo {
		.brand {
			text-decoration: none;
			padding-bottom: 0;
			margin: 0;
		}
	}

	.hamburger {
		display: none;
	}
	
	nav {
		.menu {	
			li {
				font-size:   $nav-font-small;
				line-height: $nav-font-small;
				@include respond-from(medium) {
					font-size:   $nav-font-medium;
					line-height: $nav-font-medium;
				}
				a { 
					font-weight:     $nav-font-weight;
					text-decoration: $nav-text-decoration;
				}
			}
		}
	}	
}
