// Component / Header Nav Burger
// -----------------------------

body {
	
	header#header {			
		
		.row {
			flex-direction: column;				
		}
		
		.hamburger {
			display: block;
			@include respond-from(medium) {
				display: none;
			}
		}

		nav {
			display: none;
			.menu {	
				flex-direction: column;	
				li {
					text-align: center;
					a { 
						display: block;
					}
				}
			}
		}

		transition: $nav-transition;
		
		// Nav Panel
		// ---------
		&.nav-panel {	
			nav {
				display: flex;
				flex-direction: column-reverse;	
			}
			@include respond-from(medium) {
				.column {
					width: 50%;
				}
				nav {
					flex-direction: row-reverse;	
				}
			}
		}

		@include respond-from(medium) {
			.row {
				flex-direction: row;					
				.column {					
					width: 50%;
				}	
			}
			nav {
				display: flex;    
			 	flex-direction: row-reverse;
			 	align-items: center;
				.menu {
					flex-direction: row;
				}
			}
		}
	}
	
	// Nav Fixed 
	// ---------
	&.nav-fixed {
		position: relative;
		header#header {
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 2;
			height: $header-height;
			@include respond-from(medium) {
				height: $header-height-medium;
			}			
			&.nav-panel {
				height: 100vh;
				@include respond-from(medium) {
					height: $header-height;
				}
			}
		}

		// Offset for fixed header 
		#wrapper {
			padding-top: $header-height;
			@include respond-from(medium) {
				padding-top: $header-height-medium;				
			}
		}
	}
	
	// Stops scrolling when panel is opened 
	&.nav-fixed.nav-panel {

		height: 100vh;
		overflow-y: hidden;	

		@include respond-from(medium) {
			overflow-y: auto;
		}
	}
}
