// Component / Module Hero
// -----------------------

// Component Hero
// -----------
.component-hero {
	transition: all .8;	
	.column {
		display: flex;
		&:before {
			content: "";
			width: 1px;
			margin-left: -1px;
			float: left;
			height: 0;
			@extend .ratio;
			@extend .ratio-16-9;
		}
		.content {
			background: rgba(255,255,255,.8);
			height: auto;
			padding: $spacing-small;
		}
	}
}