// Component / Menu
// ----------------

// Menu
// ----
.menu {
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	
	// Justify Content
	&.justify-start {
		justify-content: flex-start;
	}
	&.justify-end {
		justify-content: flex-end;
	}
	&.justify-center {
		justify-content: center;
	}

	li {
		margin: 0;
		list-style: none;
		padding: $spacing-small;
		
		@include respond-from(medium) { 
			&:first-child {
				padding-left: 0;
			}
		}
	}

}
